<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/typeplate.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="bkdImg" class="goldFabric">
        <div class="triangleNav">
            <div id="home">home</div>
            <div id="foodCat">food category</div>
            <div id="event">event theme</div>
            <div class="tabBar"></div>
            <div class="tabs grid">

                <div class="cell tab"><a href="#appetizer">appetizer</a></div>
                <div class="cell tab"><a href="#main">main course</a></div>
                <div class="cell tab"><a href="#side">side</a></div>
                <div class="cell tab"><a href="#desert">desert</a></div>
                <div class="cell tab"><a href="#drink">drink</a></div>

            </div>
        </div>
        <div class="topBar">
            <header class="grid">
                <div class="cell title">
                    <h2>
                        My Menu Planner
                    </h2>
                </div>
                <div class="grid cell buttonBox">
                    <div class="cell Button">
                        <!-- <h3>Log In</h3> -->
                    </div>
                    <div class="cell Button">
                        <!-- <h3>Sign Up</h3> -->
                    </div>
                </div>
            </header>
        </div>
        <div id="pageContent" class="grid">
            <!-- template goes here -->
        </div>
    </div>

    <script type="amys-template" id="card-template">
        <div id="sideBar" class="cell">
            <div id="nameBox">
                <p><%= attributes.recipeName %></p>
            </div>
            <div class="grid dotty">
                <div class="cell bake">
                    <p>Bake Temp:</p>
                    <p id="bakeTemp"><%= attributes.BakeTemp %> º</p>
                </div>
                <div class="cell bake">
                    <p>Bake Time:</p>
                    <p id="bakeTime"><%= attributes.BakeTime %> min.</p>
                </div>
            </div>
            <div id="ingredients" class="dotty">
                <p>Ingredients:</p>
                <ul id="ingredientsGoHere">
                    <% _.each(attributes.ingredientList, function(ingredient){ %>
                        <li><%= ingredient %></li>
                    <% }) %>
                </ul>
            </div>
            <div id="instructions" class="dotty">
                <p>Instructions:</p>
                <ol id="instructionsGoHere">
                    <% _.each(attributes.instructions, function(step){ %>
                        <li><%= step %></li>
                    <% }) %>
                </ol>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
</body>



</html>
