
        <div class="cards cell">
            <div class="nameBox">
                <p><%= attributes.recipeName %></p>
            </div>
            <div class="grid dotty">
                <div class="cell bake">
                    <p>Bake Temp:</p>
                    <p class="bakeTemp"><%= attributes.BakeTemp %> º</p>
                </div>
                <div class="cell bake">
                    <p>Bake Time:</p>
                    <p class="bakeTime"><%= attributes.BakeTime %> min.</p>
                </div>
            </div>
            <div class="ingredients dotty">
                <p>Ingredients:</p>
                <ul class="ingredientsGoHere">
                    <% _.each(attributes.ingredientList, function(ingredient){ %>
                        <li><%= ingredient %></li>
                    <% }) %>
                </ul>
            </div>
            <div class="instructions dotty">
                <p>Instructions:</p>
                <ol class="instructionsGoHere">
                  <% _.each(attributes.instructions, function(step){ %>
                  <li><%= step %></li>
                  <% }) %>
                </ol>
            </div>
        </div>
