<div id="menu" class="cell">
    <div id="menuHeader">
        <h4>My Menu</h4>
    </div>
    <div id="paperPattern" class="grid">
        <div class="boxes top cell"></div>
        <div class="boxes top cell"></div>
        <div class="boxes bottom cell"></div>
        <div class="boxes bottom cell"></div>

        <div id="diamond">
            <div id="menuTextArea">
                <ul class= "myMenu">

<!--                 <p>Non-Dairy Ceasar Salad</p>
                <p>Marinated Grilled Chicken</p>
                <p>Yellow Rice</p>
                <p>Avocado and Corn Salad</p>
                <p>Glazed Donut Muffins</p> -->
                </ul>
            </div>
        </div>
    </div>
</div>
