<div id="menu" class="cell">
    <div id="menuHeader">
        <h4>My Menu</h4>
    </div>
    <div id="paperPattern" class="grid">
        <div class="boxes box1 cell"></div>
        <div class="boxes cell"></div>
        <div class="boxes cell"></div>
        <div class="boxes cell"></div>

        <div id="diamond">
            <div id="menuTextArea">
                <p>Non-Dairy Ceasar Salad</p>
                <p>NYC Chicken Cutlets</p>
                <p>Dill Rice with Lima Beans</p>
                <p>Broccoli-Spinach Bake</p>
                <p>Apple Crumble</p>
            </div>
        </div>
    </div>
</div>
