<div id="menu" class="cell">
    <div id="menuHeader">
        <h4>My Menu</h4>
    </div>
    <div id="menuTextArea">
        <ul class= "myMenu">
            <li>where is my list?</li>
        </ul>
    </div>
</div>


