<div id="menu" class="cell">
    <div id="menuHeader">
        <h4>My Menu</h4>
    </div>
    <div class="myMenu">
        <ul class= "menuTextArea">
<!--             <li>where is my list?</li> -->
        </ul>
        <div class="myMenu"></div>
    </div>
</div>


