<div class="themes grid">
	<div class="badge cell">
    	<a id="holiday">Holiday</a>
    </div>
    <div class="badge cell">
    	<a id="party">Party</a>
    </div>
    <div class="badge cell">
    	<a id="picnic">Picnic</a>
    </div>
    <div class="badge cell">
    	<a id="weeknight">Weeknight</a>
    </div>
</div>
