<div class="themes grid">
    <div class="badge cell">
    	<a id="party">
        <img src="../images/party.png">
        </a>
    </div>
    <div class="badge cell">
    	<a id="picnic">
        <img src="../images/picnic.png">
        </a>
    </div>
        <div class="badge cell">
        <a id="holiday">
        <img src="../images/holiday.png">
        </a>
    </div>
    <div class="badge cell">
    	<a id="weeknight">
        <img src="../images/weeknight.png">
        </a>
    </div>
</div>
