
<div class="themes grid">
    <a class="cell" id="holiday">Holiday</a>
    <a class="cell" id="party">Party</a>
    <a class="cell" id="picnic">Picnic</a>
    <a class="cell" id="weeknight">Weeknight</a>
</div>
